h1{
  background-color: #940657;
  color: white;
  font-weight: 100;
  margin: 0 0 51px 0;;
  padding: 10px 20px;
  font-size: 27px;
}
.container{
  width: 85%;
  max-width: 1200px;
  margin: auto;
  ul{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 110, 0.5);
    padding: 0 0 12px 0;
    a{
      padding: 7px 0 12px 0;
      margin: 0 10px 12px 41px;
      color: black;
      font-size: 24px;
      &.active{
        border-bottom: 3px solid #940657;
      }
    }
  }
}